@import "../../common//variables.scss";

.modal-main {
  background-color: rgba(17, 17, 17, 0.4);
  position: fixed;
  z-index: 121;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.modal-content {
  background-color: white;
  width: 700px;
  min-height: fit-content;
  padding: 2rem;
  border-radius: 10px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .modal-content {
    width: 97%;
    padding: 2rem 1rem;
  }
}

.modal-content::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-model {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 120;
  height: 65vh;
  background-color: var(--background-color);
}

.modal-header {
  button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 100px;
    @include displayCenter;
    justify-content: center;

    &:hover {
      background-color: var(--card-color);
    }
  }
}

@media (max-width: 992px) {
  .search-model {
    height: 100vh;
  }

  .mobile {
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 120;
    height: 100vh;
    overflow: scroll;
    background-color: var(--background-color);
  }

  .mobile::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

@media (max-width: 620px) {
  .mobile {
    width: 80%;
  }
}

.modal-header {
  @include displayFlex;

  h2 {
    font-weight: 600;
  }
}
