@import "../../common/variables.scss";

.dashboard {
  padding: 1rem;
  padding-top: 0;

  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: var(--secondary-font-size);
    @include displayCenter;
    gap: 7px;
  }
}

.overView {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 5rem 1rem;
  background-color: var(--main-font-color);
  color: var(--background-color);
  gap: 7px;
  transition: all 300ms ease-in-out;
  @include displayFlex;
  position: relative;
  border-radius: 3px;

  &:hover {
    scale: 1.03;
  }
}

.card-logo {
  font-size: 3rem;
  position: absolute;
  bottom: 3%;
  right: 4%;
}

.card-details {
  position: absolute;
  left: 5%;
  top: 8%;

  p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .overView {
    grid-template-columns: 1fr;
    height: 300px;
    overflow-x: scroll;
  }

  .dashboard {
    padding: 1rem 0;
  }
}
