@import "../../common/variables.scss";

.dashboard {
  padding: 1rem;
  padding-top: 0;

  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: var(--secondary-font-size);
    @include displayCenter;
    gap: 7px;
  }
}

.overView {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;

  div {
    padding: 2rem 1rem;
    background-color: var(--main-font-color);
    color: var(--background-color);
    @include displayAllCenter;
    gap: 7px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--shadow-one);
    transition: all 300ms ease-in-out;

    &:hover {
      scale: 1.03;
    }
  }
}
