@import "../../common/variables.scss";

.query {
  padding: 2rem 2.8rem;

  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.query-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  img {
    height: 250px;
    margin-bottom: 8px;
  }

  h3 {
    font-weight: 600;
    font-size: var(--primary-font-color);
  }

  p {
    padding-right: 5px;
  }
}

.query-d {
  @include displayFlex;
}

.query-sub {
  cursor: pointer;
}

@media (max-width: 992px) {
  .query {
    padding: 1rem;
  }

  .query-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 740px) {
  .query-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .query-wrap {
    grid-template-columns: 1fr;
  }
}
