@import "../../common/common.module.scss";

.featured {
  padding: 1rem 0;
}

.featured-hero {
  padding: 0 2.8rem;
}

.feature-img {
  @include displayCenter;
  margin-top: 2rem;
  gap: 1rem;
  overflow: hidden;
  margin-left: -110px;
  position: relative;

  img {
    width: 320px;
    cursor: pointer;
  }
}

.arrow {
  width: 100%;

  button {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    @include displayCenter;
    justify-content: center;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    z-index: 10;

    &:hover {
      background-color: var(--card-color);
    }
  }

  .first {
    left: 0;
    margin-left: 10rem;
  }

  .second {
    right: 0;
    margin-right: 3.8rem;
  }
}

.featured-product {
  padding: 2rem 2.8rem;

  h2 {
    font-weight: 600;
  }
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.featured-sub {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow-one);
  cursor: pointer;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 320px;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    img {
      scale: 1.02;
    }
  }
}

.featured-details {
  margin-top: 10px;
}

.featured-top {
  @include displayFlex;

  h2 {
    font-size: var(--secondary-font-size);
  }
}

.featured-price {
  @include displayCenter;
  gap: 1rem;
}

.discount {
  text-decoration: line-through;
}

.featured-type {
  margin-top: 4px;
  text-transform: capitalize;
  font-size: 15px;
}

.banner {
  padding: 2rem 2.8rem;

  h2 {
    font-weight: 600;
  }
}

.banner-list {
  @include displayCenter;
  gap: 1rem;
  margin-top: 1rem;
}

.banner-sub {
  box-shadow: var(--shadow-one);
  position: relative;
  cursor: pointer;

  img {
    height: 500px;
  }

  p {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 10;
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 7px 20px;
    font-weight: 500;
  }
}

@media (max-width: 1328px) {
  .feature-img {
    img {
      width: 280px;
    }
  }
}

@media (max-width: 1328px) {
  .feature-img {
    img {
      width: 250px;
    }
  }
}

@media (max-width: 1065px) {
  .feature-img {
    img {
      width: 225px;
    }
  }
}

@media (max-width: 992px) {
  .featured-hero {
    padding: 0 1rem;
  }

  .banner {
    padding: 2rem 1rem;
  }

  .featured-product {
    padding: 2rem 1rem;
  }

  .banner-list {
    flex-direction: column;
  }

  .banner-sub {
    width: 100%;

    img {
      width: 100%;
      height: 400px;
    }
  }

  .feature-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 928px) {
  .feature-img {
    img {
      width: 190px;
    }
  }
}

@media (max-width: 768px) {
  .feature-img {
    display: none;
  }

  .feature-list {
    grid-template-columns: 1fr;
  }

  .featured-hero {
    img {
      height: 220px;
    }
  }
}
