@import "../../common/variables.scss";

.product-d {
  padding: 1rem 2.8rem;
}

.product-d-wrap {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 4rem;
}

.product-d-img {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 1rem;

  ul {
    @include displayCol;
    gap: 10px;
  }

  li {
    border-radius: 10px;
    box-shadow: var(--shadow-one);
    cursor: pointer;
  }

  img {
    border-radius: 10px;
    object-fit: cover;
    height: 60px;
    box-shadow: var(--shadow-one);
  }
}

.heroImg {
  height: 600px;

  img {
    height: 100%;
  }
}

.activeImg {
  border: 2px solid var(--main-font-color);
  transition: all 100ms ease-in-out;
}

.product-d-t {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  b {
    font-weight: 600;
    display: inline-block;
    font-size: var(--fourth-font-size);
  }

  span {
    display: block;
    opacity: 0.75;
  }
}

.product-i-img {
  width: 100px;
  height: 80px;
  margin: 1.5rem 0;

  img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.product-d-size {
  margin-top: 1rem;
  h3 {
    font-weight: 500;
    font-size: var(--third-font-size);
    margin-bottom: 8px;
  }

  p {
    margin-top: 10px;
    color: red;
    font-size: var(--small-font-size);
  }
}

.product-action {
  @include displayCol;
  width: 90%;
  margin-top: 3rem;
  gap: 1rem;

  button {
    padding: 18px;
    border-radius: 30px;
    font-size: var(--fourth-font-size);
    font-weight: 600;
    @include displayCenter;
    justify-content: center;
    gap: 8px;

    &:hover {
      opacity: 0.85;
    }
  }

  span {
    display: flex;
  }
}

.addto-bag {
  background-color: var(--main-font-color);
  color: var(--background-color);
}

.about-product {
  margin-top: 3rem;

  p {
    line-height: 1.7;
  }

  h1 {
    font-size: var(--primary-font-size);
    font-weight: 600;
  }

  h3,
  h2 {
    font-size: var(--primary-font-size);
    font-weight: 600;
  }

  button {
    margin-top: 1rem;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    font-size: var(--third-font-size);

    &:hover {
      opacity: 0.8;
    }
  }
}

.product-modal-m {
  margin-top: 2rem;
  img {
    height: 80px;
    width: 100px;
    border-radius: 5px;
  }

  h3 {
    font-weight: 600;
  }

  p {
    margin-top: 5px;
  }
}

.product-d-m-w {
  @include displayCenter;
  align-items: flex-start;
  gap: 1rem;
}

.product-content {
  height: 430px;
  overflow: scroll;
  margin-top: 1rem;
}

.product-review {
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid var(--card-color);
  border-bottom: 1px solid var(--card-color);
}

.top-review {
  @include displayFlex;

  p {
    font-size: var(--secondary-font-size);
    font-weight: 500;
  }
}

.rating {
  @include displayCenter;
  align-items: flex-start;
  gap: 10px;
}

.review-Body {
  button {
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 600;
    background-color: transparent;
  }
}

.review-Modal {
  header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include displayCenter;
    align-items: flex-start;
    gap: 10px;

    img {
      width: 100px;
      height: 80px;
      border-radius: 5px;
    }

    h2 {
      font-weight: 600;
      font-size: var(--secondary-font-size);
    }
  }

  fieldset {
    border: none;
    width: 100%;
    @include displayCol;
    gap: 5px;

    label {
      font-weight: 600;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      height: 100px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--card-color);
      font-size: 16px;

      &:focus {
        outline: 1px solid var(--main-font-color);
      }
    }
  }
}

.review-button {
  width: 100%;
  text-align: end;
  margin-top: 2rem;

  button {
    @include buttonMain;
    background-color: var(--main-font-color);
    color: var(--background-color);

    &:hover {
      opacity: 0.9;
    }
  }
}

.product-info {
  border-top: none;
  padding-top: 0;

  header {
    @include displayFlex;

    p {
      font-weight: 600;
      font-size: var(--secondary-font-size);
    }
  }
}

.review-l-main {
  @include displayCol;
  gap: 20px;
  margin-top: 1rem;
  max-height: 250px;
  overflow: scroll;
  min-height: fit-content;
}

.review-list {
  border-bottom: 1px solid var(--card-color);
  padding-bottom: 10px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.flat-user-r {
  @include displayCenter;
  align-items: flex-start;
  gap: 10px;

  h3 {
    font-weight: 600;
    font-size: var(--fourth-font-size);
  }

  p {
    font-size: var(--small-font-size);
    opacity: 0.8;
  }
}

.full-flat {
  @include displayFlex;
}

.review-message {
  margin-top: 0.5rem;
  font-size: 16px;
  padding-left: 60px;
}

@media (max-width: 1220px) {
  .product-d-wrap {
    max-width: 100%;
    margin: unset;
    gap: 1rem;
  }

  .product-d-info {
    width: fit-content;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .product-d {
    padding: 1rem;
  }

  .product-d-wrap {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .product-action {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .product-d-img {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;

    .side-img {
      flex-direction: row;
      flex-wrap: wrap;

      img {
        width: 60px;
        height: 50px;
      }
    }
  }

  .heroImg {
    height: 350px;
  }
}
