@import "../../common/variables.scss";

.orders-list {
  @include displayCenter;
  flex-wrap: wrap;
  gap: 2rem;
}

.order-card {
  box-shadow: var(--shadow-one);
  padding: 1rem;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  width: 220px;

  &:hover {
    scale: 1.02;
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

.orders-details {
  margin-top: 10px;

  p {
    font-size: var(--small-font-size);
    margin-bottom: 2px;
  }

  button {
    margin-top: 1rem;
    @include buttonMain;
    padding: 5px 10px;
    width: 100%;
    font-size: var(--small-font-size);
  }
}

.delivered {
  color: rgb(194, 3, 3);
}

.one-the-way {
  color: rgb(5, 184, 5);
}

.order-item {
  @include displayCol;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;

  img {
    width: 70px;
    height: 50px;
  }
}

.order-item-details {
  @include displayCenter;
  align-items: flex-start;
  gap: 10px;

  span {
    font-size: var(--small-font-size);
  }
}

.order-amount {
  padding: 10px 0;

  p {
    margin-bottom: 10px;
    @include displayFlex;
  }

  b {
    @include displayFlex;
  }
}

.com-details {
  margin-top: 1rem;

  span {
    text-transform: capitalize;
  }
}

@media (max-width: 520px) {
  .orders-list {
    flex-direction: column;
  }

  .order-card {
    width: 100%;

    img {
      height: 270px;
      object-fit: cover;
    }
  }
}
