@import "../../common/variables.scss";

.profile-wrap {
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 1rem;

  h2 {
    font-weight: 600;
  }
}

.profile-menu {
  padding-top: 0;

  ul {
    @include displayCol;
    gap: 10px;
    width: 100%;
  }

  li {
    @include displayCenter;
    gap: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    width: 100%;
  }
}

.active-menu {
  background-color: var(--card-color);
}

.account {
  padding-left: 2rem;
}

.account-wrap {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;

  img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 2rem;
  }
}

.account-user {
  border: 2px solid var(--card-color);
  @include displayAllCenter;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  border-radius: 10px;

  p {
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
  }
}

.account-details {
  h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  p {
    opacity: 0.8;
    margin-top: 4px;
    text-transform: capitalize;
    @include displayCenter;
    gap: 10px;
  }

  span {
    @include displayCenter;
    gap: 10px;
    text-transform: capitalize;
    margin-top: 4px;
  }
}

.address-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.address-card {
  box-shadow: var(--shadow-one);
  padding: 1rem;
  border-radius: 10px;

  h4 {
    @include displayCenter;
    gap: 10px;
    font-size: var(--secondary-font-size);
    margin-bottom: 15px;
  }

  p {
    font-size: var(--fourth-font-size);
  }

  span {
    display: inline-block;
    margin-top: 10px;
    font-size: var(--fourth-font-size);
  }
}

.address-action-box {
  @include displayFlex;
}

.address-action {
  @include displayCenter;
  gap: 10px;
  font-size: 1.2rem;
}

.delete-modal {
  text-align: center;
  h2 {
    font-weight: 500;
    font-size: var(--secondary-font-size);
    margin-top: 2rem;
  }
}

.delete-action {
  @include displayCenter;
  justify-content: center;
  margin-top: 2rem;
  gap: 10px;

  button {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: var(--small-font-size);

    &:hover {
      background-color: var(--card-color);
    }
  }
}

.profile-img {
  margin-top: 2rem;
  position: relative;
  width: fit-content;

  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid var(--card-color);
  }

  label {
    position: absolute;
    bottom: -5%;
    left: 50%;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--main-font-color);
    color: var(--background-color);
    cursor: pointer;
    @include displayAllCenter;

    &:hover {
      opacity: 0.9;
    }
  }
}

.edit-profile-form {
  fieldset {
    border: none;
    width: 100%;
  }
  form {
    margin-top: 2rem;
    width: 100%;
    @include displayCol;
    gap: 1rem;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--card-color);

    &:focus {
      border: 1px solid var(--main-font-color);
    }
  }
}

.flat-profile-form {
  @include displayCenter;
  gap: 2rem;
}

.profile-button {
  @include displayCenter;
  justify-content: flex-end;

  button {
    @include buttonMain;
    width: fit-content;

    &:hover {
      background-color: var(--card-color);
    }
  }
}
