@import "../../../common/variables.scss";

.checkout-header {
  @include displayFlex;
  padding: 0 2rem;

  img {
    width: 70px;
    height: 60px;
    object-fit: cover;
  }
}

.checkout-cart {
  position: relative;

  p {
    background-color: black;
    width: 17px;
    height: 17px;
    @include displayAllCenter;
    border-radius: 100px;
    color: var(--background-color);
    font-size: 10px;
    position: absolute;
    top: -8%;
    right: 0;
  }
}

.checkout-content {
  max-width: 1120px;
  padding: 0 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.checkout-address {
  h2 {
    font-weight: 600;
  }
}

.address-card {
  margin-top: 1.5rem;
}

.address-type {
  width: fit-content;
  background-color: var(--card-color);
  @include displayCenter;
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

.checkout-form {
  @include displayCol;
  gap: 18px;

  fieldset {
    border: none;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--card-color);
    font-size: var(--fourth-font-size);

    &:focus {
      border: 1px solid var(--main-font-color);
    }
  }
}

.flat-form {
  @include displayFlex;
  gap: 14px;
}

.address-button {
  text-align: end;

  button {
    @include buttonMain;
    border-radius: 30px;
    margin-top: 1rem;
    background-color: var(--main-font-color);
    color: var(--card-color);
  }
}

.checkout-summary-head {
  @include displayFlex;
  margin-bottom: 1.2rem;

  h2 {
    font-weight: 600;
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.checkout-product {
  h3 {
    font-weight: 600;
  }
}

.product-list {
  margin-top: 1rem;
  @include displayCol;
  gap: 20px;
}

.list-sub {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  img {
    width: 80px;
    height: 60px;
  }

  p {
    font-weight: 500;
  }

  span {
    font-size: 15px;
    opacity: 0.8;
  }
}

.checkout-wrapper {
  @include displayCol;
  gap: 2rem;
}

.m-checkout {
  display: none;
}

@media (max-width: 992px) {
  .checkout-content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem;
  }

  .showItem {
    display: block;
  }

  .hideItem {
    display: none;
  }

  .checkout-header {
    padding: 0 1rem;
  }

  .checkout-summary-head {
    span {
      display: none;
    }
  }

  .checkout-wrapper {
    flex-direction: column-reverse;
  }

  .m-checkout {
    display: block;
  }
}

@media (max-width: 620px) {
  .address-button {
    width: 100%;

    button {
      width: 100%;
    }
  }

  .flat-form {
    flex-direction: column;
  }

  .checkout-summary-head {
    margin-bottom: 0;
  }

  .checkout-product {
    margin-top: 1.2rem;
  }
}

.active-tab {
  cursor: pointer;
  padding: 8px 10px;
  background-color: var(--card-color);
  border-radius: 20px;
  background-color: var(--main-font-color);
  color: var(--background-color);
  transition: all 300ms ease-in-out;
}

.unactive-tab {
  cursor: pointer;
  padding: 2px;
  padding: 8px 10px;
  border-radius: 20px;
}

.checkout-address-list {
  margin-top: 1rem;
  @include displayCol;
  gap: 1rem;
  height: 400px;
  overflow: scroll;
  padding: 0.1rem;
}

.checkout-list-m {
  position: relative;

  button {
    position: absolute;
    bottom: -9.5%;
    right: 0.2%;
    @include buttonMain;
    background-color: var(--main-font-color);
    color: var(--background-color);

    &:hover {
      opacity: 0.9;
    }
  }
}
