.notification {
  position: fixed;
  right: 2%;
  z-index: 1000000000000000;
  background-color: var(--background-color);
  box-shadow: var(--shadow-one);
  padding: 12px 14px;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  border-radius: 10px;
  bottom: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.success {
  border-left: 5px solid green;
  bottom: 20px;
  opacity: 1;
}

.error {
  border-left: 5px solid red;
  bottom: 20px;
  opacity: 1;
}
