@import "./variables.scss";

.size-select {
  @include displayCenter;
  gap: 10px;
  flex-wrap: wrap;

  li {
    border: 1px solid var(--main-font-color);
    border-radius: 3px;
    width: 60px;
    @include displayCenter;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-color: var(--main-font-color);
      color: var(--card-color);
    }
  }
}

.li-padding {
  padding: 5px 3px;
}

.li-padding-p {
  padding: 6px 20px;
}

.active-select {
  background-color: var(--main-font-color);
  color: var(--card-color);
}
